{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'FIRSTAPPLICATION/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/img/">Image</a></li>
        </ul>
    </nav>
    <h1>"Hi! Welcome to the innovation with Python training index."</h1>
	<h3 id="heading">Click below to change my color! :D </h3>
	<button onclick="changeColor()">Change Color</button>
    </div>
</body>
</html>